:root {
  --color-orange: #FF6924;
}
header {
    background-color: var(--color-orange);
}
nav {
  background-color: var(--color-orange);
  color: white;
  width: 100%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.navbar_fixed {
  height: 40px;


}
nav ul {
  width: 70%;
  margin: auto;
}
nav li {
  list-style-type : none;
  justify-content: center;
}
nav li a {
  color: white;
  font-weight: bold;
}
.container {
  font-family: 'Actor', sans-serif;

}
.title2 {
  padding-top: 3%;
}
h2 {
  text-align: center;
}
h3 {
 font-weight: bold;
}
.banner-header {
  text-align: center;
}
.banner-img {
  width: 700px;
}

.footer-p {
  width: 850px;
  margin: auto;
  text-align: center;
  color: var(--color-orange);
  background-color: #F2F2F2;
}


@media all screen and(minwidth)
