body {
  background-color: $color-main-black;
  color: $color-light-grey;
}

.container {
  width: 70%;
  margin: auto;
}
.title2 {
  padding-top: 3%;
}
h2 {
  text-align: center;
}
h3 {
 font-weight: bold;
}
