.banner-header {
  text-align: center;
  background-color: $color-main-orange;
}
.banner-img {
  width: 700px;
}

.navbar-main {
  background-color: $color-main-orange;
  color: white;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0px;
  display: flex;

  .navbar {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

     li {
      width: 15%;
      min-width: 75px;
      padding: 0px 3px;
      list-style-type : none;
      text-align: center;
      font-weight: bold;

      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: black;
      }
    }
  }
}
